.toolIcon,
.itemWrapping,
.itemImage,
.itemData,
.itemName,
.lvlreq,
.xpInterval,
.interval {
  pointer-events: none;
}
#innerBanner {
  position: relative;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
}
#innerLogo {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 45px;
  object-fit: contain;
  vertical-align: middle;
}
#innerName {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  color: $white;
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 100;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}

#innerXP {
  position: relative;
  display: inline-block;
  color: $light-grey;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#innerLVL {
  position: relative;
  float: right;
  color: $light-grey;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
#innerBar {
  position: relative;
  display: block;
  width: 25em;
  border: 2px;
  height: 10px;
  background-color: rgba($mainprogress, 0.1);
}
#innerBar::-webkit-progress-bar {
  background-color: transparent;
}

#innerBar::-webkit-progress-value {
  background-color: $mainprogress;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#woodcuttingSkill,
#miningSkill,#excavationSkill,#fishingSkill {
  position: relative;
  display: grid;
  justify-content: center;
  padding: 100px 45px 200px 45px;
  column-gap: 50px;
  row-gap: 100px;
  grid-template-columns: repeat(4, 300px);
}
.skillcontainer {
  position: relative;
  display: block;
  width: 300px;
  height: 160px;
  box-shadow: 0px 2px 5px 0px $black;
  background: rgba($light-grey, 0.7);
  cursor: pointer;
  .lockedSkill {
    display: none;
  }
  &.locked {
    pointer-events: none;
    .lockedSkill {
      position: absolute;
      display: flex;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(15, 41, 46, 0.95);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .lockedTitle {
        position: relative;
        color: rgba($medium-grey, 0.5);
        font-size: 24px;
        line-height: 1;
      }
      .lockedImage {
        position: absolute;
        width: 30%;
        opacity: 0.1;
        filter: invert(0.8);
      }
      .lockedLvl {
        position: relative;
        color: $medium-grey;
        font-size: 14px;
      }
    }
  }
}

.itemWrapping {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  img {
    position: relative;
    width: 150px;
    height: 140px;
    object-fit: contain;
  }
}

.toolIcon {
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  object-fit: contain;
  top: 5px;
  right: 5px;
}
.itemNotif {
  position: absolute;
  display: block;
  bottom: -50px;
  left: 50%;
  transform: translatex(-50%);
  color: $light-grey;
  opacity: 0;

  img {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    object-fit: contain;
    vertical-align: middle;
  }
  p {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
  }
}
.itemNotif.itemCollected {
  animation: itemCollected 1.2s cubic-bezier(0.4, 0, 0.2, 1);
}
/* NOTIF ANIMATION */
@keyframes itemCollected {
  85% {
    opacity: 1;
    bottom: -30px;
  }
  90% {
    opacity: 0;
  }
}

#skillPage {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
  }
}

.itemData {
  position: relative;
  display: block;
  text-align: center;
  h3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 24px;
  }
  p:first-of-type {
    font-size: 14px;
    line-height: 1;
  }
  p:last-of-type {
    margin-top: 30px;
  }
}

.interval {
  position: relative;
  display: block;
  width: 125px;
  border: 2px solid $dark-grey;
  height: 15px;
  background-color: transparent;
	margin: 0 auto;
}
.intervalBar {
  height: inherit;
  width: 0%;
}

/* Tabs */
.miningNav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-top: 20px;
  .miningTab {
    background: transparent;
    border: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    padding: 7px;
    &:first-of-type {
      margin-right: 75px;
    }
    &.activeTab {
      background-color: $dark-grey;
      border-top: 2px solid $mainprogress;
    }
  }
  .miningTabIcon {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

/* Changes colours depending on page */
.woodcuttingPage {
  #innerBanner,
  .intervalBar {
    background-color: $woodcutting;
  }
  .skillcontainer {
    border-top: 3px solid $woodcutting;
  }
  #skillPage {
    background-image: url("../../images/backgrounds/woodcutting_background.png");
    &:before {
      background: $woodcutting;
    }
  }
}

.miningPage {
  #innerBanner,
  .intervalBar {
    background-color: $mining;
  }
  .skillcontainer {
    border-top: 3px solid $mining;
  }
  #skillPage {
    background-image: url("../../images/backgrounds/mining_background.png");
    &:before {
      background: $mining;
    }
  }
}

.excavationPage {
  #innerBanner,
  .intervalBar {
    background-color: $excavation;
  }
  .skillcontainer {
    border-top: 3px solid $excavation;
  }
  #skillPage {
    background-image: url("../../images/backgrounds/excavation_background.jpg");
    &:before {
      background: $excavation;
    }
  }
}

.fishingPage {
  #innerBanner,
  .intervalBar {
    background-color: $fishing;
  }
  .skillcontainer {
    border-top: 3px solid $fishing;
  }
  #skillPage {
    background-image: url("../../images/backgrounds/fishing_background.jpg");
    &:before {
      background: $fishing;
    }
  }
	#fishingloottable{
		width: 1000px;
	}
	.itemData p:nth-of-type(2){
		font-size: 14px;
    line-height: 1;
    margin-top: 5px;
	}
	.itemData p:last-of-type {
    margin-top: 20px;
}
}