$white: #fff;
$light-grey: rgb(242, 242, 242);
$medium-grey: rgb(200, 205, 208);
$dark-grey: rgb(65, 80, 88);
$black: rgb(31, 41, 46);

$woodcutting: opacify(#448663, 0.9);
$mining: opacify(#1f292e, 0.9);
$fishing: opacify(#3c6884, 0.9);
$building: opacify(#262626, 0.9);
$smelting: opacify(#e85800, 0.9);
$farming: opacify(#004503, 0.9);
$crafting: opacify(#6b3618, 0.9);
$excavation: opacify(#848165, 0.9);
$combat: opacify(#18286b, 0.9);
$enchanting: opacify(#46186b, 0.9);
$taming: opacify(#593b00, 0.9);

$shop: opacify(#b08d00, 0.9);
$storage: opacify(#9f7220, 0.9);

$mainprogress: #d6b300;
